﻿@charset "utf-8";

div.min_width {
    min-width: 290px;
}

#wrapper, #wrapper #rotator {
    width: 100%;
}

#rotator_view .i {
    width: 100%;
    height: 100%;
}

.ill .i .name {
    top: auto;
    bottom: 0;
    max-width: 100%;
}

.pub .img {
    margin-right: 9px;
}

.detail_element_form form table td:first-child {
    padding-right: 10px;
}

.detail_element_form form table td input, .detail_element_form form table td textarea {
    width: 100%;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content iframe {
    max-width: 100%;
}

ul.detail-left-list .re-code, ul.detail-left-list-review .re-code {
    display: none;
}

ul.detail-left-list:after, ul.detail-left-list-review:after {
    content: '';
    clear: both;
    display: table;
}

ul.detail-left-list li, ul.detail-left-list-review li {
    min-height: 165px;
}

.footer .contact ul li {
    width: 24.9%;
}

.pager-active {
    font-weight: bold;
}

.services_list li + li {
    margin-top: 40px;
}

.detail_element_form {
    margin-top: 20px;
}

.obj_desc {
    margin: 0;
}

.object-price {
    margin-bottom: 18px;
}

    .object-price h3 {
        padding-top: 0;
        margin-bottom: 18px;
    }

.photo-border .zoom-count {
    display: none;
}

.detail_element_form h2 {
    font-size: 17px;
    margin: 0;
    text-transform: none;
}

.detail_carousel {
    display: none;
    position: relative;
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

    .jcarousel > ul {
        width: 20000em;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .jcarousel > ul > li {
            float: left;
            position: relative;
        }

.jcarousel-prev, .jcarousel-next {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
    z-index: 40;
}

.jcarousel-prev {
    left: 0;
    background: #fff url(../images/lightbox-btn-prev.gif) no-repeat center center;
}

.jcarousel-next {
    right: 0;
    background: #fff url(../images/lightbox-btn-next.gif) no-repeat center center;
}

#mobile_wrap {
    display: none;
    width: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

    #mobile_wrap .mobile-overlay {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: none;
        z-index: 1001;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }

    #mobile_wrap .mobile-feedback {
        padding: 0 20px;
        margin-bottom: 10px;
    }

    #mobile_wrap .feedback-btn {
        display: block;
        background: #4c7099;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 20px;
        padding: 8px 14px;
        border: none;
        text-decoration: none;
    }

    #mobile_wrap .mobile-blue {
        display: block;
        position: absolute;
        right: -100%;
        width: 33.3%;
        height: 100%;
        overflow: auto;
        top: 0;
        background: #587b9f;
        color: #fff;
        z-index: 1002;
        padding: 38px 10px 15px;
        text-align: left;
        -webkit-transition: right 0.3s ease;
        -moz-transition: right 0.3s ease;
        -o-transition: right 0.3s ease;
        transition: right 0.3s ease;
    }

.mobile_menu {
    padding: 0;
    margin: 0 0 12px;
    list-style: none;
}

    .mobile_menu li a {
        display: block;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
    }

.mobile_socials {
    padding: 20px;
    border-top: 1px solid #6e8cab;
    margin-bottom: 12px;
}

.socials-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .socials-list:after {
        content: '';
        display: table;
        clear: both;
    }

    .socials-list li {
        float: left;
        margin-right: 8px;
    }

        .socials-list li a {
            display: block;
            width: 36px;
            height: 36px;
            border: none;
            text-decoration: none;
            background: url(../images/mobile-socials.png) no-repeat 37px 0;
        }

        .socials-list li.vk a {
            background-position: 0 0;
        }

        .socials-list li.fb a {
            background-position: -37px 0;
        }

        .socials-list li.yt a {
            background-position: -74px 0;
        }

.mobile_languages {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 12px;
}

    .mobile_languages .languages-label {
        padding: 10px 20px;
    }

.languages-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .languages-list li a {
        color: #fff;
        display: block;
        padding: 10px 20px;
        text-decoration: none;
    }

.navmobile-wrap {
    display: none;
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    padding-left: 2px;
    border-left: 1px solid #7096bc;
}

.navmobile-btn {
    display: block;
    height: 33px;
    width: 41px;
    cursor: pointer;
    background: url(../images/navmobile-btn.png) no-repeat center center;
}

.catalog-pagination {
    display: none;
    margin-bottom: 24px;
    text-align: center;
}

.more-btn {
    display: inline-block;
    background: #fff;
    border: 1px solid #ebebeb;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    line-height: 20px;
    text-transform: lowercase;
    padding: 5px 10px 4px;
}

select {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    height: 32px;
    padding: 6px 0 4px 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none !important;
    text-indent: 1px;
    text-overflow: '';
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 15px) calc(1em + 1px), calc(100% - 10px) calc(1em + 1px);
    background-size: 5px 5px, 5px 6px;
    background-repeat: no-repeat;
}

    select::-ms-expand {
        display: none;
    }

.search td .chosen-container {
    width: 200px;
}

@media screen and (max-width: 1180px) {
    div ul.detail-left-list li, div ul.detail-left-list-review li {
        width: 50%;
    }
}

@media screen and (max-width: 991px) {
    * {
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    a {
        color: #5b86b2;
        text-decoration: none;
    }

    body {
        font-size: 14px;
        line-height: 1.25;
        font-family: 'Open Sans', Arial, sans-serif;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .table, .table .td {
        display: block;
    }

        .table .w310px {
            width: auto;
        }

    h1, h2 {
        font-size: 16px;
        color: #eb1c22;
        margin: 0 0 18px;
    }

    input[type=text], input[type=email], textarea {
        background: #fff;
        border: 1px solid #e1e1e1;
        font-size: 15px;
        font-family: 'Open Sans', Arial, sans-serif;
        color: #000;
        line-height: 20px;
        padding: 5px 13px;
    }

    ul.to-left:after {
        content: '';
        clear: both;
        display: table;
    }

    .bg_body {
        padding: 0 12px;
        background: #f8f8f8;
    }

    .main_padd {
        background: none;
    }

    .header {
        background: none;
        height: auto;
        padding: 11px 0 22px;
    }

        .header:after {
            content: '';
            clear: both;
            display: table;
        }

        .header .logo {
            position: relative;
            left: auto;
            float: left;
            width: 63px;
        }

            .header .logo img {
                display: block;
            }

        .header .menu {
            position: relative;
            background: none;
            width: auto !important;
            height: auto;
            top: auto;
            left: auto;
            float: right;
        }

            .header .menu .name, .header .menu .contact {
                display: none;
            }

            .header .menu .lang {
                font-size: 14px;
                padding-left: 0 !important;
                position: relative;
                z-index: 1;
            }

                .header .menu .lang ul li {
                    padding: 0;
                    float: none;
                    margin-bottom: 5px;
                }

                    .header .menu .lang ul li + li + li {
                        display: none;
                    }

                    .header .menu .lang ul li a {
                        display: block;
                        line-height: 21px;
                        width: 34px;
                        text-align: center;
                        text-decoration: none;
                        border: none;
                    }

                        .header .menu .lang ul li a:hover, .header .menu .lang ul li.hover a {
                            color: #fff;
                            text-decoration: underline;
                            background: #e31418;
                        }

    .menu_top {
        background: #5b86b2;
    }

    div.menu_top > .table {
        height: 33px !important;
    }

    .menu_top .menu {
        height: 33px;
        overflow: hidden;
        padding: 0 44px 0 0;
        margin: 0;
    }

        .menu_top .menu ul li {
            padding: 0;
            float: left;
            width: auto;
        }

            .menu_top .menu ul li div {
                padding: 0;
                float: none;
                background: none !important;
            }

            .menu_top .menu ul li a {
                border: none;
                font-size: 12px;
                line-height: 17px;
                display: block;
                text-transform: uppercase;
                padding: 8px;
            }

    #mobile_wrap, .navmobile-wrap {
        display: block;
    }

    body.mobile-open #mobile_wrap, body.mobile-open #mobile_wrap .mobile-blue {
        right: 0;
    }

        body.mobile-open #mobile_wrap .mobile-overlay {
            background: rgba(0,0,0,0.44);
        }

    .menu_top .soc, .menu_top .contact ul li.email_line, .menu_top .contact ul li.soc_line {
        display: none;
    }

    .menu_top .contact {
        margin: 0;
    }

    .menu_top .contacts_block {
        padding: 0 !important;
        position: absolute;
        top: -73px;
        left: 85px;
    }

    .menu_top .contact ul li {
        font-size: 15px;
        color: #000;
        font-weight: 300;
        line-height: 20px;
        padding: 0;
        position: relative;
        margin: 0 0 8px !important;
        float: none;
    }

        .menu_top .contact ul li.phone_line {
            padding-left: 53px;
        }

        .menu_top .contact ul li.skype_line {
            padding-left: 28px;
        }

        .menu_top .contact ul li b {
            display: none;
        }

        .menu_top .contact ul li a {
            color: #000;
            text-decoration: none;
            border: none;
        }

        .menu_top .contact ul li .sprite {
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            background: url(../images/sprite-mobile.png) no-repeat;
        }

        .menu_top .contact ul li .sprite-25_whatsapp {
            width: 20px;
            height: 20px;
            background-position: 0 0;
        }

        .menu_top .contact ul li .sprite-25_viber {
            width: 20px;
            height: 22px;
            background-position: -21px 0;
            left: 26px;
        }

        .menu_top .contact ul li .sprite-25_skype {
            width: 21px;
            height: 21px;
            background-position: -42px 0;
        }

    .main {
        padding: 38px 0 20px;
    }

        .main .left {
            padding: 0;
        }

        .main .ill {
            display: none;
        }

        .main .content {
            padding: 0;
            font-size: 14px;
            letter-spacing: 0;
        }

    .white_content {
        background: #fff;
        border: 1px solid #ebebeb;
        padding: 20px;
        margin-bottom: 24px;
    }

        .white_content.detail_content {
            padding: 14px;
        }

        .white_content p {
            margin: 0 0 17px;
        }

    .news-detail {
        background: #fff;
        border: 1px solid #ebebeb;
        padding: 12px;
        margin-bottom: 15px;
    }

        .news-detail .img {
            margin-bottom: 12px;
        }

        .news-detail p {
            margin: 0 0 16px;
        }

    .news-date-time {
        color: #a3a3a3;
        display: block;
        margin-bottom: -5px;
    }

    .return-link {
        display: inline-block;
        position: relative;
        background: #fff;
        border: 1px solid #ebebeb;
        font-size: 14px;
        line-height: 20px;
        color: #000;
        text-decoration: none;
        padding: 5px 10px 4px;
        text-transform: lowercase;
    }

        .return-link:before {
            content: '← ';
            font-family: 'Minion Pro', Arial, sans-serif;
        }

    .related-box {
        display: none;
    }

    .search {
        padding: 0 !important;
    }

        .search .litera {
            padding: 0;
        }

        .search .order {
            display: none;
        }

        .search .bg {
            background: #fff;
            border: 1px solid #ebebeb;
            padding: 24px 22px 20px;
            margin-bottom: 24px;
        }

            .search .bg .table th, .search .bg .table td {
                display: none;
            }

                .search .bg .table th + td {
                    display: block;
                    padding: 0;
                    border: none;
                }

        .search td select {
            width: 242px;
            margin-bottom: 16px;
        }

        .search td button {
            padding: 6px 20px;
            margin: 0 0 16px;
            font-size: 15px;
            line-height: 20px;
            background: #5b86b2;
            color: #fff;
            text-align: center;
            text-transform: lowercase;
            width: 110px;
            border: none;
            cursor: pointer;
        }

        .search .input-arrfilter {
            width: 160px;
            margin-right: 10px;
            vertical-align: top;
        }

        .search .submit-arrfilter {
            padding: 6px 20px;
            font-size: 15px;
            line-height: 20px;
            background: #5b86b2;
            color: #fff;
            text-align: center;
            text-transform: lowercase;
            width: 110px;
            border: none;
            cursor: pointer;
            vertical-align: top;
        }

    .re {
        padding: 0;
    }

        .re ul {
            margin-bottom: 24px;
        }

            .re ul li {
                float: none;
                width: auto;
                background: #fff;
                margin: 0;
                border: 1px solid #ebebeb;
                padding: 12px 12px 18px;
            }

                .re ul li.mobile-hidden {
                    display: none;
                }

                .re ul li:after {
                    content: '';
                    clear: both;
                    display: table;
                }

                .re ul li + li {
                    border-top: none;
                }

                .re ul li .img {
                    background: none;
                    padding: 0;
                    border: none;
                    width: 92px;
                }

                .re ul li img {
                    display: block;
                }

                .re ul li .img .sale {
                    bottom: auto;
                    width: 62px;
                    height: 49px;
                    background: url(../images/sale-ribbon.png) no-repeat 0 0;
                    overflow: hidden;
                }

                    .re ul li .img .sale * {
                        opacity: 0;
                    }

                .re ul li .info {
                    padding: 0;
                    margin-left: 104px;
                }

                    .re ul li .info .name {
                        font-size: 13px;
                        line-height: 16px;
                        font-weight: 400;
                        padding-bottom: 5px;
                    }

                        .re ul li .info .name a {
                            color: #000;
                            text-decoration: none;
                            border: none;
                        }

                            .re ul li a.element_hover_a, .re ul li .info .name a:hover {
                                color: #000 !important;
                            }

                    .re ul li .info .price {
                        padding: 0;
                        line-height: 16px;
                    }

                        .re ul li .info .price font.bright_price {
                            font-size: 13px;
                            color: #000;
                        }

                        .re ul li .info .price .re-code {
                            float: right;
                            font-size: 13px;
                            opacity: 0.5;
                            color: #000;
                            font-weight: normal;
                        }

                        .re ul li .info .price .re-date, .re ul li .info .price .re-info, .re ul li .info .order {
                            display: none;
                        }

    .catalog-pagination {
        display: block;
    }

    .pu, .banners, .info_right, .form_send {
        display: none;
    }

    .pub {
        margin-bottom: 24px;
    }

        .pub .list {
            background: #fff;
            border: 1px solid #ebebeb;
            padding: 12px;
        }

            .pub .list + .list {
                border-top: none;
            }

        .pub .img {
            background: none;
            padding: 0;
            border: none;
            width: 93px;
            margin-right: 0;
        }

        .pub .name {
            color: #5b86b2;
            font-size: 13px;
            padding: 0;
            margin-left: 105px;
        }

            .pub .name a {
                color: #5b86b2;
                border: none;
            }

        .pub .info {
            padding: 0;
            font-size: 13px;
            margin-bottom: 4px;
            margin-left: 105px;
        }

            .pub .info .desc {
                padding: 0;
            }

        .pub .date {
            color: #a3a3a3;
            margin-bottom: 4px;
        }

    .detail_content .glr {
        float: none !important;
        width: auto !important;
        margin-bottom: 20px;
    }

    .detail_content .photo-border {
        background: none;
        padding: 0;
        border: none;
        margin: 0;
        position: relative;
    }

        .detail_content .photo-border img {
            width: 100%;
        }

    .detail_content .glr .sale-fast {
        top: 0;
        left: 0;
        display: block;
        width: 62px;
        height: 49px;
        background: url(../images/sale-ribbon.png) no-repeat 0 0;
        overflow: hidden;
    }

        .detail_content .glr .sale-fast img {
            opacity: 0;
        }

    .detail_content .glr .photo-border, .detail_content .glr .galery {
        display: none;
    }

    .photo-border .zoom-count {
        display: block;
        position: absolute;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        font-weight: bold;
        opacity: 0.5;
        padding-right: 27px;
        right: 14px;
        bottom: 12px;
    }

        .photo-border .zoom-count:after {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            background: url(../images/sprite-mobile.png) no-repeat -79px 0;
            position: absolute;
            right: 0;
            top: 1px;
        }

    .detail_carousel {
        display: block;
    }

        .detail_carousel li {
            position: relative;
        }

        .detail_carousel img {
            display: block;
            width: 100%;
        }

    .object-price {
        padding: 0 10px;
    }

        .object-price:after {
            content: '';
            display: table;
            clear: both;
        }

        .object-price h3 {
            font-style: normal;
            font-weight: bold;
            line-height: 22px;
            float: left;
            margin: 0;
            padding: 0;
            margin-right: 5px;
        }

        .object-price .price {
            float: left;
        }

            .object-price .price .rur {
                font-size: 18px;
                line-height: 22px;
            }

    .object-features {
        font-size: 13px !important;
        margin-bottom: 10px;
    }

        .object-features td {
            color: #000 !important;
            width: auto !important;
            padding: 6px 10px;
            vertical-align: top;
        }

    .detail_content .order_button {
        padding: 0 10px;
        margin-bottom: 20px;
    }

        .detail_content .order_button > a {
            display: inline-block;
            left: auto;
            top: auto;
            padding: 8px 15px;
            background: #eb1c22;
            border-radius: 0;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 20px;
        }

    .detail_text {
        font-size: 13px;
    }

    .detail_element_form h2 {
        font-size: 16px;
        text-transform: uppercase;
        margin: 0 0 18px;
    }

    .detail_element_form form {
        background: none;
        border: none;
        padding: 0;
    }

    .detail_element_form table, .detail_element_form table tbody, .detail_element_form table tr, .detail_element_form table td {
        display: block;
        width: auto !important;
    }

    .detail_element_form form table td input, .detail_element_form form table td textarea {
        width: 210px;
    }

    form .form-label {
        display: none;
    }

    form input, form textarea {
        width: 210px;
    }

    form textarea {
        height: 82px;
    }

    form button[type=submit], form input[type=submit], form .submit-btn {
        display: inline-block;
        background: #5b86b2;
        color: #fff;
        border: none;
        text-decoration: none;
        cursor: pointer;
        font-size: 15px;
        line-height: 20px;
        padding: 6px 15px;
        text-transform: lowercase;
    }

    ul.detail-left-list, ul.detail-left-list-review {
        margin-bottom: 24px;
    }

        ul.detail-left-list li, ul.detail-left-list-review li {
            float: none;
            width: auto !important;
            min-height: 1px;
            font-size: 13px;
            line-height: 16px;
            background: #fff;
            padding: 12px 12px 18px;
            border: 1px solid #ebebeb;
        }

            ul.detail-left-list li:after, ul.detail-left-list-review li:after {
                content: '';
                clear: both;
                display: table;
            }

            ul.detail-left-list li + li, ul.detail-left-list-review li + li {
                border-top: none;
            }

            ul.detail-left-list-review li img, ul.detail-left-list li img {
                padding: 0;
                border: none;
                float: left;
                width: 92px;
            }

            ul.detail-left-list-review li .info, ul.detail-left-list li .info {
                margin-left: 104px;
            }

            ul.detail-left-list-review li .name, ul.detail-left-list li .name {
                width: auto;
                margin-bottom: 4px;
            }

                ul.detail-left-list-review li .name a, ul.detail-left-list li .name a {
                    color: #000;
                    text-decoration: none;
                    border: none;
                }

            ul.detail-left-list li .bright_price, ul.detail-left-list-review li .bright_price {
                font-weight: bold;
                color: #000;
            }

            ul.detail-left-list li .re-code, ul.detail-left-list-review li .re-code {
                display: block;
                float: right;
                font-size: 13px;
                opacity: 0.5;
                color: #000;
                font-weight: normal;
            }

    .right_form {
        border: none;
    }

        .right_form form {
            width: auto;
            background: none;
            border: none;
            padding: 0;
            margin: 0;
        }

            .right_form form span.title {
                display: block;
                text-transform: uppercase;
                font-size: 16px;
                color: #eb1c22;
                margin: 0 0 18px;
            }

        .right_form .form_inner {
            background: #fff;
            border: 1px solid #ebebeb;
            padding: 24px 22px 16px;
            margin-bottom: 24px;
        }

            .right_form .form_inner p {
                margin: 0 0 16px;
            }

            .right_form .form_inner textarea {
                height: 82px;
            }

            .right_form .form_inner button {
                background: #5b86b2;
                color: #fff;
                padding: 6px 20px;
                font-size: 15px;
                line-height: 20px;
                text-align: center;
                text-transform: lowercase;
                border: none;
                margin: 0 0 12px;
                width: auto;
            }

        .right_form .bottom_desc {
            display: block;
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 16px;
        }

    .pager-wrap {
        margin-top: 27px;
    }

        .pager-wrap:after {
            content: '';
            clear: both;
            display: table;
        }

    .pager-pages, .pagenavi .sep, .pagenavi .pager-disabled {
        display: none;
    }

    .pagenavi {
        float: right;
        position: relative;
        right: 50%;
    }

        .pagenavi a, .pagenavi .pager-active {
            float: left;
            position: relative;
            left: 50%;
            background: #fff;
            border: 1px solid #ebebeb;
            font-size: 14px;
            line-height: 19px;
            color: #000;
            text-decoration: none;
            text-align: center;
            padding: 5px 10px;
            min-width: 30px;
            text-transform: lowercase;
        }

        .pagenavi .pager-active {
            border-color: transparent;
            background: #5b86b2;
            color: #fff;
            font-weight: normal;
        }

    .contacts_table td {
        font-size: 13px;
        line-height: 16px;
        vertical-align: top;
    }

    .contacts_table h3 {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        padding-bottom: 8px;
    }

    .services_list {
        padding-left: 0;
        margin-top: 0;
        list-style: none;
    }

        .services_list li {
            position: relative;
            padding-left: 24px;
            font-size: 13px;
            line-height: 16px;
        }

            .services_list li font {
                font-size: 13px;
            }

            .services_list li + li {
                margin-top: 30px;
            }

            .services_list li b {
                display: block;
                font-size: 15px;
                margin-bottom: 4px;
            }

            .services_list li:before {
                content: '';
                display: block;
                position: absolute;
                width: 14px;
                height: 11px;
                background: url(../images/sprite-mobile.png) no-repeat -64px 0;
                left: 0;
                top: 4px;
            }

    .footer {
        background: #5b86b2;
        color: #fff;
        border: none;
        margin: 0 -12px;
        padding: 14px 12px 20px;
    }

        .footer .contact {
            padding: 0;
        }

            .footer .contact ul {
                margin: 0 -4px 0 4px;
                vertical-align: top;
            }

                .footer .contact ul li {
                    width: 50%;
                    float: none;
                    margin-left: -4px;
                    display: inline-block;
                    vertical-align: top;
                    font-size: 13px;
                    line-height: 15px;
                    padding: 15px 0 3px;
                }

                    .footer .contact ul li + li + li {
                        border-top: 1px solid #7096bc;
                    }

                    .footer .contact ul li div {
                        padding: 0;
                    }

                    .footer .contact ul li p {
                        margin-bottom: 12px;
                    }

    #lightbox-container-image-box {
        max-width: 90%;
        max-height: 90%;
        height: auto !important;
    }

    #lightbox-container-image-data-box {
        max-width: 90%;
    }

    .map-columns {
        display: block;
        background: #fff;
        border: 1px solid #ebebeb;
        padding: 20px;
    }

        .map-columns tbody, .map-columns tr, .map-columns td {
            display: block;
        }
}

@media screen and (max-width: 767px) {
    #mobile_wrap .mobile-blue {
        width: 50%;
    }

    iframe {
        max-height: 400px;
    }
}

@media screen and (max-width: 598px) {
    #mobile_wrap .mobile-blue {
        width: 66.6%;
    }

    iframe {
        max-height: 280px;
    }
}

@media screen and (max-width: 540px) {
    .menu_top .menu ul li a[href*=about], .menu_top .menu ul li a[href*=stock] {
        display: none;
    }
}
