﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 3akar</title>
    <link href="~/Content/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/zabuto_calendar.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/trackpad-scroll-emulator.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css" type="text/css">
    <script type="text/javascript" src="~/Content/assets/js/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58&libraries=places"></script>
    <script type="text/javascript" src="~/Content/assets/js/richmarker-compiled.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/markerclusterer_packed.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/infobox.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/moment.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/icheck.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/jquery.trackpad-scroll-emulator.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/custom.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/maps.js"></script>
    <script src="~/Content/assets/js/data.js"></script>
    @*<script src="~/Content/assets/js/index.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">*@
    <style>

        .bootstrap-dialog .bootstrap-dialog-title {
            color: #fff;
            display: inline-block;
            font-size: 16px
        }

        .bootstrap-dialog .bootstrap-dialog-message {
            font-size: 18px;
            padding-top: 5px;
        }

        .bootstrap-dialog .bootstrap-dialog-button-icon {
            margin-right: 3px
        }

        .bootstrap-dialog .bootstrap-dialog-close-button {
            font-size: 20px;
            float: right;
            filter: alpha(opacity=90);
            -moz-opacity: .9;
            -khtml-opacity: .9;
            opacity: .9
        }

            .bootstrap-dialog .bootstrap-dialog-close-button:hover {
                cursor: pointer;
                filter: alpha(opacity=100);
                -moz-opacity: 1;
                -khtml-opacity: 1;
                opacity: 1
            }

        .bootstrap-dialog.type-default .modal-header {
            background-color: #fff
        }

        .bootstrap-dialog.type-default .bootstrap-dialog-title {
            color: #333
        }

        .bootstrap-dialog-header {
            background-color: #ae0303;
            font-size: 20px;
            font-weight: bold;
        }

        .bootstrap-dialog-footer-buttons .btn {
            background-color: #ae0303
        }

        .bootstrap-dialog.type-success .modal-header {
            background-color: #5cb85c
        }

        .bootstrap-dialog.type-warning .modal-header {
            background-color: #f0ad4e
        }

        .bootstrap-dialog.type-danger .modal-header {
            background-color: #d9534f
        }

        .bootstrap-dialog.size-large .bootstrap-dialog-title {
            font-size: 24px
        }

        .bootstrap-dialog.size-large .bootstrap-dialog-message {
            font-size: 18px
        }

        .bootstrap-dialog .icon-spin {
            display: inline-block;
            -moz-animation: spin 2s infinite linear;
            -o-animation: spin 2s infinite linear;
            -webkit-animation: spin 2s infinite linear;
            animation: spin 2s infinite linear
        }

        @@-moz-keyframes spin {
            0% {
                -moz-transform: rotate(0deg)
            }

            100% {
                -moz-transform: rotate(359deg)
            }
        }

        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg)
            }

            100% {
                -webkit-transform: rotate(359deg)
            }
        }

        @@-o-keyframes spin {
            0% {
                -o-transform: rotate(0deg)
            }

            100% {
                -o-transform: rotate(359deg)
            }
        }

        @@-ms-keyframes spin {
            0% {
                -ms-transform: rotate(0deg)
            }

            100% {
                -ms-transform: rotate(359deg)
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg)
            }

            100% {
                transform: rotate(359deg)
            }
        }

        .modal .modal-content {
            /*width: 80% !important;
            margin: 30px auto !important;
            position: absolute;
            top: 10px;
            right: 100px;
            bottom: 0;
            left: 0;
            z-index: 10040;
            overflow: auto;
            overflow-y: auto;*/
        }
    </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body class="nav-btn-only homepage">


    <div class="page-wrapper">
        <header id="page-header">
            <nav>
                <div class="left">
                    <div class="left">
                        <a class="brand">      <img src="~/Content/assets/img/logo.png" alt="3akar360.com" style="max-height: 150px;"></a>
                    </div>
                </div>
                <!--end left-->
                <div class="right" style="margin-right:0px;">
                    <!--end primary-nav-->
                    @* @Html.ActionLink("Add listing ", "AddAdvertViewModel", "Advertisements", null, new { @class = "modal-link btn btn-primary btn-small btn-rounded icon shadow add-listing" })*@
                    @*<i class="fa fa-plus"></i>*@
                    <div class="form-group">
                        @Html.Partial("_LoginPartial")
                    </div>

                </div>
                <!--end right-->
            </nav>
            <!--end nav-->
        </header>
        <div id="modal-container" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="close1" type="button" class="close" data-number="1" aria-hidden="true">×</button>
                        </div>

                        <!-- START OF MODAL BODY-->

                        <div class="modal-body">
                        </div>

                        <!-- END OF APPLICATION FORM MODAL BODY -->

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal-container2" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="close1" type="button" class="close" data-number="1" aria-hidden="true">×</button>
                        </div>

                        <!-- START OF MODAL BODY-->

                        <div class="modal-body">
                        </div>

                        <!-- END OF APPLICATION FORM MODAL BODY -->

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>



        @*<div class="modal" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="close1" type="button" class="close" data-number="1" aria-hidden="true">×</button>
                    </div>

                    <!-- START OF MODAL BODY-->

                    <div class="modal-body">
                    </div>

                    <!-- END OF APPLICATION FORM MODAL BODY -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
            <!--Modal for uploading photo-->
            <div class="modal" id="modal-container2" tabindex="-1" role="dialog" aria-labelledby="upload-avatar-title" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="close2" type="button" class="close" data-number="2" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </div>*@
        @RenderBody()

    </div>

    @*<footer class="footerWidget" style="border:1px;border-color:black;">
        <div class="custom_footer">
            <div class="sc_emailer aligncenter margin_top_20">
                <a href='http://www.kernelitsystems.com/'>Copy Rights KernelITSystems</a>
            </div>
        </div>
    </footer>*@





    <script type="text/javascript">
        $(function () {
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                var target = $(this).attr("href");

                // load the url and show modal on success
                $("#modal-container .modal-body").load(target, function () {
                    $("#modal-container").modal("show");
                });
            });
            $("button[data-number=1]").click(function () {
                $('#modal-container').modal('hide');
            });

            $("button[data-number=2]").click(function () {
                $('#modal-container2').modal('hide');
            });
            $('#modal-container').on('hidden.bs.modal', function () {
                debugger;
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            }); $('body').on('click', '.modal-link2', function (e) {
                e.preventDefault();
                //$(this).attr('data-target', '#modal-container2');
                //$(this).attr('data-toggle', 'modal');
                var target = $(this).attr("href");

                // load the url and show modal on success
                $("#modal-container2 .modal-body").load(target, function () {
                    $("#modal-container2").modal("show");
                });
            });

            $('#modal-container2').on('hidden.bs.modal', function () {
                //debugger;
                //$(this).removeData('bs.modal');
                $('body').addClass('modal-open');
            });
        });
    </script>
</body>
</html>
