﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <style>
        .navbar-right {
            margin-right: 0px;
        }
    </style>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        Akar.Models.Akar20180617043702_dbEntities db = new Akar.Models.Akar20180617043702_dbEntities();
        var username = User.Identity.GetUserName().ToString();
        var user = db.AspNetUsers.Where(c => c.UserName == username).FirstOrDefault();
        var by = db.Buyers.Where(c=>c.User == User.Identity.GetUserName());

        <ul class="nav navbar-nav navbar-right">
            @if (by == null)
            {
                <li>
                    <a class="modal-link btn btn-primary btn-small btn-rounded icon shadow add-listing" href="@Url.Action("AddAdvertViewModel", "Advertisements")">
                        <i class="fa fa-plus"></i> Add listing
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a class="modal-link btn btn-primary btn-small btn-rounded icon shadow add-listing" href="@Url.Action("AddAdvertViewModel2", "Advertisements")">
                        <i class="fa fa-plus"></i> Add listing
                    </a>
                </li>

            }

            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
