﻿@model Akar.Models.RegisterViewModel
@{
    ViewBag.Title = "";
}
<script src="~/Content/assets/jquery-ui-1.12.1/jquery-ui.js"></script>
<style>
    .buttontt {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }
</style>

<div id="divback" style="display:none;" class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
    <button id="bck" title="Mainselector"  class="btn btn-danger btn-lg btn-block">back</button>
</div>

<div id="Mainselector">
    <div class="col-md-4">
        <button id="freelancerbtn" title="FreeLancer" class="btn btn-danger btn-lg btn-block btn-huge">Freelancer</button>
    </div>
    <div class="col-md-4">
        <button id="Brokerbtn" title="Broker" class="btn btn-danger btn-lg btn-block btn-huge ">Broker</button>
    </div>
    <div class="col-md-4">
        <button id="Accountmngerbtn" title="Accountmnger" class="btn btn-danger btn-lg btn-block btn-huge ">Account Manager</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        var page = 1; //current page
        $('#freelancerbtn').click(function () {
            var divtitle = this.title;
            var tt = $("#" + divtitle).siblings();
            tt.splice(0, 1);
            $("#" + divtitle).show("slow fadeInFromNone 1s ease-out");
            tt.hide(1000);
            $('#divback').show("slow");
        });
        $('#Brokerbtn').click(function () {
            var divtitle = this.title;
            var tt = $("#" + divtitle).siblings();
            tt.splice(0, 1);
            $("#" + divtitle).show("slow")
            tt.hide(1000);
            $('#divback').show("slow");
            $('#page-header').show();
        });
        $('#Accountmngerbtn').click(function () {
            var divtitle = this.title;
            var tt = $("#" + divtitle).siblings();
            tt.splice(0, 1);
            $("#" + divtitle).show("slow")
            tt.hide(1000);
            $('#divback').show("slow");
            $('#page-header').show();
        });
        $('#bck').click(function () {
            var divtitle = this.title;
            var tt = $("#" + divtitle).siblings();
            tt.splice(0, 1);
            $("#" + divtitle).show("slow")
            tt.hide(1000);
            $('#divback').hide("slow");
        });
    });
</script>
<!--end page-content-->
<div id="FreeLancer" style="display:none;">
    <div id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <section class="page-title">
                        <h1>Register FreeLancer</h1>
                    </section><!--end page-title-->
                    <section>
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form inputs-underline", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Create a new account.</h4>
                            <hr />
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email)
                                        <div>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address" })
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password)
                                        <div>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                            @Html.ValidationMessageFor(m => m.Password)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                        <div>
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Name)
                                        <div>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "First Name" })
                                            @Html.ValidationMessageFor(m => m.Name)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Address)
                                        <div>
                                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Address" })
                                            @Html.ValidationMessageFor(m => m.Address)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            @Html.Label("Mobile Phones")
                                            <div>
                                                @Html.TextBox("Mobile", null, new { @class = "form-control", @id = "Mobile", @placeholder = "Mobile Phone Number" })
                                                <a href="#" title="" class="form-control add-Phone0" style=" position:relative;">Add Number</a>
                                                <span id="Mob0Err" style="color:darkred"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <table id="Mobileslist" style="position:relative;"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            @Html.Label("Whatsapp Numbers")
                                            <div>
                                                @Html.TextBox("Whatsapp", null, new { @class = "form-control", @id = "Whatsapp", @placeholder = "Whatsapp Phone Number" })
                                                <a href="#" title="" class="form-control add-Phone1" style=" position:relative;">Add Number</a>
                                                <span id="Mob1Err" style="color:darkred"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <table id="Whatsapplist" style="position:relative;"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            @Html.Label("LandLine Number")
                                            <div>
                                                @Html.TextBox("LandLine", null, new { @class = "form-control", @id = "LandLine", @placeholder = "LandLine Phone Number" })
                                                <a href="#" title="" class="form-control add-Phone2" style=" position:relative;">Add Number</a>
                                                <span id="Mob2Err" style="color:darkred"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <table id="LandLinelist" style="position:relative;"></table>

                                        </div>
                                    </div>
                                </div>
                                @Html.Hidden("mobilell")
                                @Html.Hidden("WhatsapplistH")
                                @Html.Hidden("LandLinelistH")
                                @Html.Hidden("CompanyId",0)
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Picture, new { type = "file", @class = "form-control", @id = "file" })
                                        @Html.ValidationMessageFor(m => m.Picture)
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-default" value="Register" />
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <p class="center">By clicking on “Register Now” button you are accepting the <a href="terms-conditions.html">Terms & Conditions</a></p>
                                </div>
                            </div>
                        }

                    </section>
                </div>
                <!--col-md-4-->
            </div>
            <!--end ro-->
        </div>
        <!--end container-->
    </div>
</div>
<div id="Accountmnger" style="display:none;">
    <div id="page-content2">
        <div class="container"> 
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <section class="page-title">
                        <h1>Register Account Manager</h1>
                    </section><!--end page-title-->
                    <section>
                        @using (Html.BeginForm("RegisterCompany", "Account", FormMethod.Post, new { @id = "form2", enctype = "multipart/form-data", @class = "form inputs-underline", role = "form" }))
    {
                    @Html.AntiForgeryToken()
                    <h4>Create a new account.</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name)
                                <div>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "First Name", @id = "CName" })
                                    @Html.ValidationMessageFor(m => m.Name)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                                <div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address", @id = "CEmail" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                <div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @id = "CPassword" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                <div>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @id = "CConfirmPassword" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Address)
                                <div>
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Address", @id = "CAddress" })
                                    @Html.ValidationMessageFor(m => m.Address)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    @Html.Label("Company Mobile Phones")
                                    <div>
                                        @Html.TextBox("Mobile", null, new { @class = "form-control", @placeholder = "Mobile Phone Number", @id = "CMobile" })
                                        <a href="#" title="" class="form-control Cadd-Phone0" style=" position:relative;">Add Number</a>
                                        <span id="CMob0Err" style="color:darkred"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <table id="CMobileslist" style="position:relative;"></table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    @Html.Label("Company Whatsapp Numbers")
                                    <div>
                                        @Html.TextBox("Whatsapp", null, new { @class = "form-control", @placeholder = "Whatsapp Phone Number", @id = "CWhatsapp" })
                                        <a href="#" title="" class="form-control Cadd-Phone1" style=" position:relative;">Add Number</a>
                                        <span id="CMob1Err" style="color:darkred"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <table id="CWhatsapplist" style="position:relative;"></table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    @Html.Label("Company LandLine Number")
                                    <div>
                                        @Html.TextBox("LandLine", null, new { @class = "form-control", @placeholder = "LandLine Phone Number", @id = "CLandLine" })
                                        <a href="#" title="" class="form-control Cadd-Phone2" style=" position:relative;">Add Number</a>
                                        <span id="CMob2Err" style="color:darkred"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <table id="CLandLinelist" style="position:relative;"></table>

                                </div>
                            </div>
                        </div>
                        @Html.Hidden("Cmobilell")
                        @Html.Hidden("CWhatsapplistH")
                        @Html.Hidden("CLandLinelistH")
                        <div class="col-md-12 col-sm-12">
                            @Html.Label("Company Logo")
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Picture, new { type = "file", @class = "form-control", @id = "Cfile" })
                                @Html.ValidationMessageFor(m => m.Picture)
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="submit" class="btn btn-default" value="Register" />
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <p class="center">By clicking on “Register Now” button you are accepting the <a href="terms-conditions.html">Terms & Conditions</a></p>
                        </div>
                    </div>
}

                    </section>
                </div>
                <!--col-md-4-->
            </div>
            <!--end ro-->
        </div>
        <!--end container-->
    </div>
</div>
<div id="Broker" style="display:none;">
    <div id="page-content3">
        <div class="container">
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <section class="page-title">
                        <h1>Register Company Broker</h1>
                    </section><!--end page-title-->
                    <section>
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form inputs-underline", role = "form" }))
    {
                    @Html.AntiForgeryToken()
                    <h4>Create a new account.</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                                <div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address", @Id = "BEmail" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                <div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @Id = "BPassword" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                <div>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @Id = "BConfirmPassword" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name)
                                <div>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "First Name", @Id = "BName" })
                                    @Html.ValidationMessageFor(m => m.Name)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Address)
                                <div>
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Address", @Id = "BAddress" })
                                    @Html.ValidationMessageFor(m => m.Address)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.Label("Company")
                                <div>
                                    @try
                                    {
                                    @Html.DropDownList("CompanyId", new SelectList(ViewBag.Company, "ID", "Name"), new { @class = "form-control", @Id = "BCompanyId" })
                                    }
                                    catch
                                    {

                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    @Html.Label("Mobile Phones")
                                    <div>
                                        @Html.TextBox("Mobile", null, new { @class = "form-control", @placeholder = "Mobile Phone Number", @Id = "BMobile" })
                                        <a href="#" title="" class="form-control Badd-Phone0" style=" position:relative;">Add Number</a>
                                        <span id="BMob0Err" style="color:darkred"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <table id="BMobileslist" style="position:relative;"></table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    @Html.Label("Whatsapp Numbers")
                                    <div>
                                        @Html.TextBox("Whatsapp", null, new { @class = "form-control", @placeholder = "Whatsapp Phone Number", @Id = "BWhatsapp" })
                                        <a href="#" title="" class="form-control Badd-Phone1" style=" position:relative;">Add Number</a>
                                        <span id="BMob1Err" style="color:darkred"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <table id="BWhatsapplist" style="position:relative;"></table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    @Html.Label("LandLine Number")
                                    <div>
                                        @Html.TextBox("LandLine", null, new { @class = "form-control", @placeholder = "LandLine Phone Number", @Id = "BLandLine" })
                                        <a href="#" title="" class="form-control Badd-Phone2" style=" position:relative;">Add Number</a>
                                        <span id="BMob2Err" style="color:darkred"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <table id="BLandLinelist" style="position:relative;"></table>

                                </div>
                            </div>
                        </div>
                        @Html.Hidden("Bmobilell")
                        @Html.Hidden("BWhatsapplistH")
                        @Html.Hidden("BLandLinelistH")
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Picture, new { type = "file", @class = "form-control", @id = "Bfile" })
                                @Html.ValidationMessageFor(m => m.Picture)
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="submit" class="btn btn-default" value="Register" />
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <p class="center">By clicking on “Register Now” button you are accepting the <a href="terms-conditions.html">Terms & Conditions</a></p>
                        </div>
                    </div>
}

                    </section>
                </div>
                <!--col-md-4-->
            </div>
            <!--end ro-->
        </div>
        <!--end container-->
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    mob = [];
    wat = [];
    land = [];

    function refresharrays() {
        $('#mobilell').val($('td[name=mobi]').text().trimRight());
        $('#WhatsapplistH').val($('td[name=wats]').text().trimRight());
        $('#LandLinelistH').val($('td[name=landd]').text().trimRight());
    }
    function deleteRow(i) {
        document.getElementById('Mobileslist').deleteRow(i);
        refresharrays();
    }
    function deleteRow1(i) {
        document.getElementById('Whatsapplist').deleteRow(i);
        refresharrays();
    }
    function deleteRow2(i) {
        document.getElementById('LandLinelist').deleteRow(i);
        refresharrays();
    }
    $(document).ready(function () {

        $('a.add-Phone0').click(function (event) {
            event.preventDefault();
            var patt = new RegExp('^0\\d{10}$');
            var mobile = $('#Mobile').val();
            if (patt.test(mobile)) {
                var newRow = '<tr><td name= "mobi" >' + mobile + ' </td>  <td><button class="buttontt" value="Delete" onclick="deleteRow(this.parentNode.parentNode.rowIndex)"><img src="' + window.location.origin + '/Content/assets/img/Delete.svg" style="width:25px;height:25px;"></button></td></tr>';
                $('#Mobileslist').append(newRow);
                refresharrays();
                $('#Mobile').val("");
                $("#Mob0Err").text("");
            }
            else {
                $("#Mob0Err").text("Wrong Mobile Number");
            }
        });

        $('a.add-Phone1').click(function (event) {
            event.preventDefault();
            var patt = new RegExp('^0\\d{10}$');
            var mobile = $('#Whatsapp').val();
            if (patt.test(mobile)) {
                var newRow = '<tr><td name= "wats">' + mobile + '</td>  <td><button class="buttontt" value="Delete" onclick="deleteRow1(this.parentNode.parentNode.rowIndex)"><img src="' + window.location.origin + '/Content/assets/img/Delete.svg" style="width:25px;height:25px;"></button></td></tr>';
                $('#Whatsapplist').append(newRow);
                refresharrays();
                $('#Whatsapp').val("");
                $("#Mob1Err").text("");
            }
            else {
                $("#Mob1Err").text("Wrong Mobile Number");
            }

        });


        $('a.add-Phone2').click(function (event) {
            event.preventDefault();
            var patt = new RegExp('^0(=2|3|45|46|13|15|16|28|40|43|45|47|48|49|50|55|57|62|65|63|64|68|663|82|84|86|88|93|693|952|96|972)\\d{7,8}$');
            var mobile = $('#LandLine').val();
            if (patt.test(mobile)) {
                var newRow = '<tr><td name= "landd">' + mobile + ' </td>  <td><button class="buttontt" value="Delete" onclick="deleteRow2(this.parentNode.parentNode.rowIndex)"><img src="' + window.location.origin + '/Content/assets/img/Delete.svg" style="width:25px;height:25px;"></button></td></tr>';
                $('#LandLinelist').append(newRow);
                refresharrays();
                $('#LandLine').val("");
                $("#Mob2Err").text("");
            }
            else {
                $("#Mob2Err").text("Wrong LandLine Number");
            }
        });
    });
</script>
<script>
    mob = [];
    wat = [];
    land = [];

    function Brefresharrays() {
        $('#Bmobilell').val($('td[name=mobi]').text().trimRight());
        $('#BWhatsapplistH').val($('td[name=wats]').text().trimRight());
        $('#BLandLinelistH').val($('td[name=landd]').text().trimRight());
    }
    function deleteRow(i) {
        document.getElementById('BMobileslist').deleteRow(i);
        Brefresharrays();
    }
    function deleteRow1(i) {
        document.getElementById('BWhatsapplist').deleteRow(i);
        Brefresharrays();
    }
    function deleteRow2(i) {
        document.getElementById('BLandLinelist').deleteRow(i);
        Brefresharrays();
    }
    $(document).ready(function () {

        $('a.Badd-Phone0').click(function (event) {
            event.preventDefault();
            var patt = new RegExp('^0\\d{10}$');
            var mobile = $('#BMobile').val();
            if (patt.test(mobile)) {
                var newRow = '<tr><td name= "mobi" >' + mobile + ' </td>  <td><button class="buttontt" value="Delete" onclick="deleteRow(this.parentNode.parentNode.rowIndex)"><img src="' + window.location.origin + '/Content/assets/img/Delete.svg" style="width:25px;height:25px;"></button></td></tr>';
                $('#BMobileslist').append(newRow);
                Brefresharrays();
                $('#BMobile').val("");
                $("#BMob0Err").text("");
            }
            else {
                $("#BMob0Err").text("Wrong Mobile Number");
            }
        });

        $('a.Badd-Phone1').click(function (event) {
            event.preventDefault();
            var patt = new RegExp('^0\\d{10}$');
            var mobile = $('#BWhatsapp').val();
            if (patt.test(mobile)) {
                var newRow = '<tr><td name= "wats">' + mobile + '</td>  <td><button class="buttontt" value="Delete" onclick="deleteRow1(this.parentNode.parentNode.rowIndex)"><img src="' + window.location.origin + '/Content/assets/img/Delete.svg" style="width:25px;height:25px;"></button></td></tr>';
                $('#BWhatsapplist').append(newRow);
                Brefresharrays();
                $('#BWhatsapp').val("");
                $("#BMob1Err").text("");
            }
            else {
                $("#Mob1Err").text("Wrong Mobile Number");
            }

        });


        $('a.Badd-Phone2').click(function (event) {
            event.preventDefault();
            var patt = new RegExp('^0(=2|3|45|46|13|15|16|28|40|43|45|47|48|49|50|55|57|62|65|63|64|68|663|82|84|86|88|93|693|952|96|972)\\d{7,8}$');
            var mobile = $('#BLandLine').val();
            if (patt.test(mobile)) {
                var newRow = '<tr><td name= "landd">' + mobile + ' </td>  <td><button class="buttontt" value="Delete" onclick="deleteRow2(this.parentNode.parentNode.rowIndex)"><img src="' + window.location.origin + '/Content/assets/img/Delete.svg" style="width:25px;height:25px;"></button></td></tr>';
                $('#BLandLinelist').append(newRow);
                Brefresharrays();
                $('#BLandLine').val("");
                $("#BMob2Err").text("");
            }
            else {
                $("#BMob2Err").text("Wrong LandLine Number");
            }
        });
    });
</script>
<script>
    Cmob = [];
    Cwat = [];
    Cland = [];

    function Crefresharrays() {
        $('#Cmobilell').val($('td[name=mobi]').text().trimRight());
        $('#CWhatsapplistH').val($('td[name=wats]').text().trimRight());
        $('#CLandLinelistH').val($('td[name=landd]').text().trimRight());
    }
    function deleteRow(i) {
        document.getElementById('BMobileslist').deleteRow(i);
        Crefresharrays();
    }
    function deleteRow1(i) {
        document.getElementById('BWhatsapplist').deleteRow(i);
        Crefresharrays();
    }
    function deleteRow2(i) {
        document.getElementById('BLandLinelist').deleteRow(i);
        Crefresharrays();
    }
    $(document).ready(function () {

        $('a.Cadd-Phone0').click(function (event) {
            event.preventDefault();
            var patt = new RegExp('^0\\d{10}$');
            var mobile = $('#CMobile').val();
            if (patt.test(mobile)) {
                var newRow = '<tr><td name= "mobi" >' + mobile + ' </td>  <td><button class="buttontt" value="Delete" onclick="deleteRow(this.parentNode.parentNode.rowIndex)"><img src="' + window.location.origin + '/Content/assets/img/Delete.svg" style="width:25px;height:25px;"></button></td></tr>';
                $('#CMobileslist').append(newRow);
                Crefresharrays();
                $('#CMobile').val("");
                $("#CMob0Err").text("");
            }
            else {
                $("#CMob0Err").text("Wrong Mobile Number");
            }
        });

        $('a.Cadd-Phone1').click(function (event) {
            event.preventDefault();
            var patt = new RegExp('^0\\d{10}$');
            var mobile = $('#CWhatsapp').val();
            if (patt.test(mobile)) {
                var newRow = '<tr><td name= "wats">' + mobile + '</td>  <td><button class="buttontt" value="Delete" onclick="deleteRow1(this.parentNode.parentNode.rowIndex)"><img src="' + window.location.origin + '/Content/assets/img/Delete.svg" style="width:25px;height:25px;"></button></td></tr>';
                $('#CWhatsapplist').append(newRow);
                Crefresharrays();
                $('#CWhatsapp').val("");
                $("#CMob1Err").text("");
            }
            else {
                $("#CMob1Err").text("Wrong Mobile Number");
            }

        });


        $('a.Cadd-Phone2').click(function (event) {
            event.preventDefault();
            var patt = new RegExp('^0(=2|3|45|46|13|15|16|28|40|43|45|47|48|49|50|55|57|62|65|63|64|68|663|82|84|86|88|93|693|952|96|972)\\d{7,8}$');
            var mobile = $('#CLandLine').val();
            if (patt.test(mobile)) {
                var newRow = '<tr><td name= "landd">' + mobile + ' </td>  <td><button class="buttontt" value="Delete" onclick="deleteRow2(this.parentNode.parentNode.rowIndex)"><img src="' + window.location.origin + '/Content/assets/img/Delete.svg" style="width:25px;height:25px;"></button></td></tr>';
                $('#CLandLinelist').append(newRow);
                Crefresharrays();
                $('#CLandLine').val("");
                $("#CMob2Err").text("");
            }
            else {
                $("#CMob2Err").text("Wrong LandLine Number");
            }
        });
    });
</script>

