﻿@model Akar.Models.Company

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Company</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Mobiles)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Mobiles)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Whatsapps)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Whatsapps)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LandLines)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LandLines)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CompanyLogo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CompanyLogo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CompanyEmail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CompanyEmail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AspNetUser.Email)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
