﻿@{
    ViewBag.Title = "Waiting List";
}
<h2>Brokers Waiting List</h2>
@if (ViewBag.Broker != null)
{
    foreach (Akar.Models.Broker broker in ViewBag.Broker)
    {
        <div class="row thumbnail" style=" margin:15px;">
            <div class="col-md-1 col-sm-1 thumbnail thumbnail-property">
                <a>
                    <img width="150" height="150" src='@Url.Action("Show", "Companies", new { id = broker.Id })' />
                </a>
            </div>
            <div class="header col-md-9 col-sm-9">
                <div class="left">
                    <span>Name: @broker.Name </span><br />
                    <span>Email: @broker.Mail </span><br />
                    <span>Mobiles: @broker.Mobiles </span><br />
                    <span>Whatsapps: @broker.Whatsapps </span><br />
                    <span>Landlines: @broker.Landlines </span>
                </div>
            </div>
            <div class="col-md-1 col-sm-1">
                <a href='@Url.Action("Approve", "Companies", new { id = broker.Id })'>
                    <span>Approve</span>
                </a>
            </div>
            <div class="col-md-1 col-sm-1">
                <a href='@Url.Action("Deny", "Companies", new { id = broker.Id })'>
                    <span>Deny</span>
                </a>
            </div>
        </div>
    }
}
else
{
    <h3>No Current Brokers Wiating List</h3>
}
