﻿@model Akar.Models.Advertisement
<script type="text/javascript">
    function onChangeSuccess(data) {
        console.log(data.status === "success");
        if (data.status === "success") {
            BootstrapDialog.alert('Advertisement saved successfully!');
            $('#modal-container').modal('hide');
        }
        $.each(data.formErrors, function () {
            $("[data-valmsg-for=" + this.key + "]").html(this.errors.join());
        });
    }
    $().ready(function () {
        $().ready(function () {
            $('#Main').on('change', function (e) {
                var files = e.target.files;
                //var myID = 3; //uncomment this to make sure the ajax URL works
                if (files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }
                        $.ajax({
                            type: "POST",
                            url: '/advertisements/upload?RoomName=Main&C3d=false&AdCode=' + $("#Code").val(),
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (dataa) {
                                if (dataa.status === "success2") {
                                    $("#modal-container2").modal("hide");
                                }
                                $.each(dataa.formErrors, function () {
                                    $("[data-valmsg-for=" + this.key + "]").html(this.errors.join());
                                });
                            },
                            error: function (xhr, status, p3, p4) {
                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                if (xhr.responseText && xhr.responseText[0] == "{")
                                    err = JSON.parse(xhr.responseText).Message;
                                console.log(err);
                            }
                        });
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            });
        });
        $('#Paymentyes').click(function () {
            $('#Paymentdetails').show(1000);
        });
        $('#Paymentno').click(function () {
            $('#Paymentdetails').hide(1000);
            //$('#modal-container').modal('hide');
        });
        jQuery('#BedRooms').on('keydown', function (e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl/cmd+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+C
                (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+X
                (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();

            }

        });
        jQuery('#BedRooms').on('keyup', function (e) {
            $('#Beduploads').html("");
            for (var i = 1; i <= $('#BedRooms').val(); i++) {

                var mySecondDiv = '<a class="modal-link2 btn btn-primary btn-small btn-rounded icon shadow" style="backgroupcolor:gray;" href="@Url.Action("upload", "Advertisements")/BedRoom' + i + '_@ViewBag.AdCode">BedRoom' + i + '</a>';
                $('#Beduploads').append(mySecondDiv);
            }
        });
        jQuery('#BathRooms').on('keydown', function (e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl/cmd+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+C
                (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+X
                (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();

            }
        });
        jQuery('#BathRooms').on('keyup', function (e) {
            $('#Bathuploads').html("");
            for (var i = 1; i <= $('#BathRooms').val(); i++) {

                var mySecondDiv = '<a class="modal-link2 btn btn-primary btn-small btn-rounded icon shadow" style="backgroupcolor:gray;" href="@Url.Action("upload", "Advertisements")/BathRoom' + i + '_@ViewBag.AdCode">BathRoom' + i + '</a>';
                $('#Bathuploads').append(mySecondDiv);
            }
        });
        jQuery('#Reciption').on('keydown', function (e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl/cmd+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+C
                (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+X
                (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
        jQuery('#Reciption').on('keyup', function (e) {
            $('#Reciptionuploads').html("");
            for (var i = 1; i <= $('#Reciption').val(); i++) {
                var mySecondDiv = '<a class="modal-link2 btn btn-primary btn-small btn-rounded icon shadow" style="backgroupcolor:gray;" href="@Url.Action("upload", "Advertisements")/Reciption' + i + '_@ViewBag.AdCode">Reciption' + i + '</a>';
                $('#Reciptionuploads').append(mySecondDiv);
            }
        });
        jQuery('#LivingRooms').on('keydown', function (e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl/cmd+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+C
                (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+X
                (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
        debugger;
        jQuery('#LivingRooms').on('keyup', function (e) {
            $('#Livinguploads').html("");
            for (var i = 1; i <= $('#LivingRooms').val(); i++) {
                var mySecondDiv = '<a class="modal-link2 btn btn-primary btn-small btn-rounded icon shadow" style="backgroupcolor:gray;" href="@Url.Action("upload", "Advertisements")/LivingRoom' + i + '_@ViewBag.AdCode">LivingRoom' + i + '</a>';
                $('#Livinguploads').append(mySecondDiv);
            }
        });
        $('input[type=radio][name=MasterRoom]').change(function () {
            $('#Masteruploads').html("");
            var vall;
            $('[name="MasterRoom"]').each(function () {
                if ($(this).prop('checked') == true) {
                    vall = $(this).val()
                }
            });
            var mySecondDiv;
            if (vall === "true") {
                 mySecondDiv = '<a class="modal-link2 btn btn-primary btn-small btn-rounded icon shadow" style="backgroupcolor:gray;" href="@Url.Action("upload", "Advertisements")/MasterRoom1_@ViewBag.AdCode">MasterRoom1</a>';
            }
            $('#Masteruploads').append(mySecondDiv);
        });
        $('input[type=radio][name=DressingRooms]').change(function () {
            $('#Dressinguploads').html("");
            var vall;
            $('[name="DressingRooms"]').each(function () {
                if ($(this).prop('checked') == true) {
                    vall = $(this).val()
                }
            });
            var mySecondDiv;
            if (vall === "true") {
                 mySecondDiv = '<a class="modal-link2 btn btn-primary btn-small btn-rounded icon shadow" style="backgroupcolor:gray;" href="@Url.Action("upload", "Advertisements")/DressingRoom1_@ViewBag.AdCode">DressingRoom1</a>';
            }
            $('#Dressinguploads').append(mySecondDiv);

        });
    });
</script>

<style>
    input[type="radio"] {
        position: absolute;
        right: 9000px;
    }

    label {
        position: relative;
        cursor: pointer;
        color: #666;
        font-size: 12px;
    }

    input[type="radio"] + .label-text:before {
        content: "\f10c";
        font-family: "FontAwesome";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 2;
        -webkit-font-smoothing: antialiased;
        width: 1em;
        display: inline-block;
        margin-right: 5px;
    }

    input[type="radio"]:checked + .label-text:before {
        content: "\f192";
        color: #ae0303;
        animation: effect 250ms ease-in;
    }

    input[type="radio"]:disabled + .label-text {
        color: #aaa;
    }

        input[type="radio"]:disabled + .label-text:before {
            content: "\f111";
            color: #ccc;
        }

    .line {
        width: 100%;
        border-bottom: 1px solid #ae0303;
        position: absolute;
    }
</style>
<div class="modal-body">

    @using (Ajax.BeginForm("AddAdvertViewModel", "advertisements", new { }, new AjaxOptions { OnSuccess = "onChangeSuccess" }, new { @class = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h3><b>Advertise Code : </b></h3>
            </div>
            <div class="col-md-2 col-sm-2">
                <h3> @ViewBag.AdCode</h3>
                @Html.Hidden("Code", (object)ViewBag.AdCode)
            </div>
        </div>
        <div class="line"></div>
        <div class="row">
            <section>
                <h3>About</h3>
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <div class="form-group">
                            @*@Html.LabelFor(m => m.Title)*@
                            @Html.TextBoxFor(m => m.AdTitle, new { @class = "form-control", @placeholder = "Title" })
                            @Html.ValidationMessageFor(m => m.AdTitle)
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="form-check">
                            <label>
                                <input type="radio" name="Sale_Rent" value=1 checked> <span class="label-text">For Rent</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="Sale_Rent" value=2> <span class="label-text">For Sale</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="Sale_Rent" value=3> <span class="label-text">For Purchase</span>
                            </label>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.AdDescription)*@

                    @Html.TextBoxFor(m => m.AdDescription, new { @class = "form-control", @placeholder = "Description" })
                    @Html.ValidationMessageFor(m => m.AdDescription)
                </div>
                <div class="form-group">
                    @Html.DropDownList("PropertyLocationId", new SelectList(ViewBag.Locations, "ID", "Name"), new { @class = "form-control", @placeholder = "Property Location" })
                    @Html.ValidationMessageFor(m => m.PropertyLocationId)
                </div>
                <div class="form-group">
                    @Html.DropDownList("PropertyTypeId", new SelectList(ViewBag.types, "ID", "EName"), new { @class = "form-control", @placeholder = "Property Type" })
                    @Html.ValidationMessageFor(m => m.PropertyTypeId)
                </div>
            </section>
        </div>
        <div class="row">
            <section>
                <h3>Characteristics </h3>
                <div class="form-group">
                    @Html.TextBox("MainPhoto", null, new { type = "file", @class = "form-control", @id = "Main" })
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Area)*@
                    @Html.TextBoxFor(m => m.Area, new { @class = "form-control", @placeholder = "Area" })
                    @Html.ValidationMessageFor(m => m.Area)
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.BedRooms)*@
                    @Html.TextBoxFor(m => m.BedRooms, new { @class = "form-control", @placeholder = "Number of Bed Rooms" })
                    @Html.ValidationMessageFor(m => m.BedRooms)
                    <div id="Beduploads"></div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.BathRooms)*@
                    @Html.TextBoxFor(m => m.BathRooms, new { @class = "form-control", @placeholder = "Number of BathRooms" })
                    @Html.ValidationMessageFor(m => m.BathRooms)
                    <div id="Bathuploads"></div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.LivingRooms)*@
                    @Html.TextBoxFor(m => m.LivingRooms, new { @class = "form-control", @placeholder = "Number of Living Rooms" })
                    @Html.ValidationMessageFor(m => m.LivingRooms)
                    <div id="Livinguploads"></div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Reciption)*@

                    @Html.TextBoxFor(m => m.Reciption, new { @class = "form-control", @placeholder = "Number of Reciption" })
                    @Html.ValidationMessageFor(m => m.Reciption)
                    <div id="Reciptionuploads"></div>
                </div>

                <Div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.MasterRoom)
                        <div class="form-check">
                            <label>
                                <input type="radio" name="MasterRoom" value="true" > <span class="label-text">Yes</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="MasterRoom" value="false" checked> <span class="label-text">No</span>
                            </label>
                        </div>
                        <div id="Masteruploads"></div>
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.DressingRooms)
                        <div class="form-check">
                            <label>
                                <input type="radio" name="DressingRooms" value="true" > <span class="label-text DressingRooms">Yes</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="DressingRooms" value="false" checked> <span class="label-text DressingRooms">No</span>
                            </label>
                        </div>
                        <div id="Dressinguploads"></div>
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Elevator)
                        <div class="form-check">
                            <label>
                                <input type="radio" name="Elevator" value="true" > <span class="label-text">Yes</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="Elevator" value="false" checked> <span class="label-text">No</span>
                            </label>
                        </div>
                    </div>
                </Div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Floor)*@
                    @Html.TextBoxFor(m => m.Floor, new { @class = "form-control", @placeholder = "Floor Number" })
                    @Html.ValidationMessageFor(m => m.Floor)
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Furnish)
                        <div class="form-check">
                            <label>
                                <input type="radio" name="Furnish" value=0 checked> <span class="label-text">unfurnished</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="Furnish" value=1> <span class="label-text">semi furnished </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="Furnish" value=2> <span class="label-text">fully furnished</span>
                            </label>
                        </div>
                    </div>

                </div>

            </section>
        </div>
        <div class="row">
            <section>
                <h3>Payment </h3>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Price)*@
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @placeholder = "Price" })
                    @Html.ValidationMessageFor(m => m.Price)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Paymentfacilities)
                    <div class="form-check">
                        <label>
                            <input input id="Paymentyes" type="radio" name="Paymentfacilities" value="true"> <span class="label-text">Yes</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label>
                            <input id="Paymentno" type="radio" name="Paymentfacilities" value="false" checked>  <span class="label-text">No</span>
                        </label>
                    </div>
                    <div id="Paymentdetails" style="display:none">
                        @Html.TextBoxFor(m => m.DownPayment, new { @class = "form-control", @placeholder = "Down Payment" })
                        @Html.TextBoxFor(m => m.PaymentDuration, new { @class = "form-control", @placeholder = "Payment Duration\\Months" })
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <input type="submit" class="btn btn-default savee" value="Save" />
                </div>
            </div>

        </div>

    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}