﻿@model Akar.Models.Advertisement

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Advertisement</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PropertyLocationId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PropertyLocationId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PropertyTypeId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PropertyTypeId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sale_Rent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sale_Rent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Area)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Area)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BedRooms)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BedRooms)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BathRooms)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BathRooms)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LivingRooms)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LivingRooms)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MasterRoom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MasterRoom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Reciption)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Reciption)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DressingRooms)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DressingRooms)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Floor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Floor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Elevator)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Elevator)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Paymentfacilities)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Paymentfacilities)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Furnish)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Furnish)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PaymentDuration)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PaymentDuration)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DownPayment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DownPayment)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
