﻿@model Akar.Models.Advertisement

<script src="~/vendor/photo-sphere-viewer.min.js"></script>
<script src="~/vendor/marzipano.js"></script>
<script src="~/vendor/three.min.js"></script>
<style>
    img {
        cursor: zoom-in;
    }

    .modal-body {
        overflow-y:;
    }

    .modal {
        text-align: center;
    }

        .modal .modal-content {
            position: fixed;
            z-index: 99999;
            left: -20em;
            top: -30em;
            /*width: -webkit-fill-available;
            height: -webkit-fill-available;*/
            overflow: auto;
        }

    @@media screen and (min-width: 768px) {
        .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
        }
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
</style>
<script>
    function sleep(delay) {
        var start = new Date().getTime();
        while (new Date().getTime() < start + delay);
    }

    $(function () {
        $('.imgN').on('click', function () {
            $('.enlargeImageModalSource').attr('src', $(this).attr('src'));
            $('#enlargeImageModal').modal('show');
        });
    });
    $(function () {

        $('.img3d').on('click', function () {
            $('#enlargeImageModal3d').modal('show');
            $.ajax({
                url: $(this).attr('src'),
                type: "GET",
                dataType: "json",
                success: function (dataa, errorMessage) {
                    var div = document.getElementById('dtaimg');
                    var PSV = new PhotoSphereViewer({
                        panorama: dataa,
                        container: div,
                        time_anim: 0,
                        minFilter: THREE.NearestFilter,
                        loading_txt: 'Loading',
                        autoload: false,
                    });
                    sleep(1000)
                    PSV.load();
                },
                error: function (dataa, errorMessage) {


                }
            });
            //$('.enlargeImageModalSource3d').attr('src', $(this).attr('src'));

        });
    });
</script>

<div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <img src="" class="enlargeImageModalSource" style="width: auto;position:page;">
            </div>
        </div>
    </div>
</div>
<div class="modal fade dtaimgclass" id="enlargeImageModal3d" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div id="dtaimg" style="height:35vw;width:80vw;">

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="col-md-12 col-sm-12">
        <div class="col-md-2 col-sm-2">
            <h2 style="direction:ltr;position:relative;left=0px">

                @Html.DisplayFor(Model => Model.AdTitle) :
            </h2>
        </div>
        <div class="col-md-10 col-sm-10">
            <h2 style="direction:ltr;position:relative;left=0px">
                @Html.DisplayFor(Model => Model.Price) جم
            </h2>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <img class="imgN" style="width:14vw; height:auto;" src="@Url.Action("ShowMain", "Advertisements")/@Model.Code">
            </div>
            <div class="col-md-8">
                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(Model => Model.AdDescription) : @Html.DisplayFor(Model => Model.AdDescription)
                </div>
                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(Model => Model.BathRooms) : @Html.DisplayFor(Model => Model.BathRooms)
                </div>
                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(Model => Model.BedRooms) : @Html.ValueFor(Model => Model.BedRooms)
                </div>
                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(Model => Model.Floor) : @Html.DisplayFor(Model => Model.Floor)
                </div>
                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(Model => Model.Furnish) : @Html.DisplayFor(Model => Model.Furnish)
                </div>
                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(Model => Model.LivingRooms) : @Html.DisplayFor(Model => Model.LivingRooms)
                </div>
                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(Model => Model.Reciption) : @Html.DisplayFor(Model => Model.Reciption)
                </div>
                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(Model => Model.DressingRooms) : @{ if (@Html.ValueFor(Model => Model.DressingRooms).ToString() == "True")
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    }
                </div>

                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(Model => Model.Elevator) : @{ if (@Html.ValueFor(Model => Model.Elevator).ToString() == "True")
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    }
                </div>
                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(Model => Model.MasterRoom) : @{ if (@Html.ValueFor(Model => Model.MasterRoom).ToString() == "True")
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    }
                </div>

                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(Model => Model.Paymentfacilities) :@{ if (@Html.ValueFor(Model => Model.Paymentfacilities).ToString() == "True")
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    }
                </div>
            </div>
        </div>
        <div align="center">
            <h2>Album</h2>
        </div>
        <div class="slideshow-container">
            @{
                int imgcounter = 0;
                foreach (var img in Model.Adimages)
                {
                    if (img.RoomName != "Main")
                    {
                        <div class="mySlides fade">
                            <div class="numbertext">@imgcounter</div>
                            @if (!img.C3d)
                            {
                                <img class="imgN" style="width:100%; height:auto;" src="@Url.Action("ShowImgbyID", "Advertisements")/@img.Id">

                            }
                            else
                            {

                                    <img class="img3d" style="width:100%; height:auto;" src="@Url.Action("ShowImgbyID", "Advertisements")/@img.Id">

                            }
                            <div class="text">@img.RoomName</div>
                            @{imgcounter += 1;
                            }
                        </div>


                    }
                }

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <br>
                <div style="text-align:center">
                    @for (int i = 0; i < imgcounter; i++)
                    {
                        <span class="dot" onclick="currentSlide(@i)"></span>

                    }
                </div>
            }
        </div>
    </div>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>
<style>
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background: #ae0303;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }

    /* Caption text */
    .text {
        color: #ae0303;
        font-size: 15px;
        padding: 11.0px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: -4px 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

        .active, .dot:hover {
            background-color: #717171;
        }

    /* Fading animation */
    .fade {
        opacity:1 !important;
        -webkit-animation-name: fade !important;
        -webkit-animation-duration: 1.5s !important;
        animation-name: fade !important;
        animation-duration: 1.5s !important;
    }

    @@-webkit-keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    @@keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    /* On smaller screens, decrease text size */
    @@media only screen and (max-width: 300px) {
        .prev, .next, .text {
            font-size: 11px
        }
    }
</style>
