﻿@model IEnumerable<Akar.Models.Advertisement>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyLocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sale_Rent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BedRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BathRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivingRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MasterRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reciption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DressingRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Elevator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paymentfacilities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Furnish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DownPayment)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyLocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sale_Rent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BathRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivingRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MasterRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reciption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DressingRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Elevator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paymentfacilities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Furnish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownPayment)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
