﻿@model Akar.Models.Adimage
@{
    Layout = null;
}


@using (Html.BeginForm("upload", "advertisements", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form inputs-underline", @id = "Uploadfile", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Adimage</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AdCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="AdCode" name="AdCode" class="form-control" value="@ViewBag.adcode" readonly />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="RoomName" name="RoomName" class="form-control" value="@ViewBag.ImageName" readonly />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("3D", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.C3d)
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Upload File", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" name="file" type="file" id="file" />
                @*@Html.EditorFor(model => model.Image, new { @class = "form-control", @type = "file" })*@

                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
    <script>

        $().ready(function () {
            $('#file').on('change', function (e) {
                var files = e.target.files;
                //var myID = 3; //uncomment this to make sure the ajax URL works
                if (files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }
                        $.ajax({
                            type: "POST",
                            url: '/advertisements/upload?RoomName=' + $("#RoomName").val() + '&C3d=' + document.getElementById("C3d").checked + '&AdCode=' + $("#AdCode").val(),
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (dataa) {
                                if (dataa.status === "success2") {
                                    $("#modal-container2").modal("hide");
                                }
                                $.each(dataa.formErrors, function () {
                                    $("[data-valmsg-for=" + this.key + "]").html(this.errors.join());
                                });
                            },
                            error: function (xhr, status, p3, p4) {
                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                if (xhr.responseText && xhr.responseText[0] == "{")
                                    err = JSON.parse(xhr.responseText).Message;
                                console.log(err);
                            }
                        });
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            });
        });
    </script>